<!DOCTYPE html>
<html lang="uz">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>UzHome | Uy oldi-sottisi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body class="bg-light">

<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <b class="navbar-brand fw-bold">UzHome</b>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Bosh sahifa</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'show_page' %}">E’lonlar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'add_announcement' %}">E’lon qo‘shish</a></li>
            </ul>

            <!-- ACCOUNT -->
            <div class="d-flex">
                <a href="{% url 'login' %}" class="btn btn-outline-light" style="margin-right: 3px">Kirish</a>
                <a href="{% url 'register' %}" class="btn btn-outline-success" style="margin-right: 3px">Ro‘yxatdan o‘tish</a>
                <a href="{% url 'logout' %}" class="btn btn-outline-danger" style="margin-right: 3px">Chiqish</a>
            </div>
        </div>
    </div>
</nav>

<!-- MAIN -->
<section class="py-5 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div style="color:green;">
                    <i class="bi bi-person-fill"></i>
                    <b>{{username}}</b>
                    <p>{{email}}</p>
                    <hr>
                </div>
                <h1 class="fw-bold">Uy topish oson bo‘lsin</h1>
                <p class="text-muted">
                    Sotuv va ijara uchun uy e’lonlari bitta platformada
                </p>

                <!-- SEARCH -->
                <div class="row g-2">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control" placeholder="Shahar yoki kalit so‘z">
                    </div>
                    <div class="col-6 col-md-3">
                        <select class="form-select">
                            {% for value, label in catigories %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-6 col-md-3">
                        <button class="btn btn-success w-100">Qidirish</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center mt-4 mt-md-0">
                <img src="https://images.unsplash.com/photo-1568605114967-8130f3a36994"
                     class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>



<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-success fw-bold">🏠 So'nggi E'lonlar</h2>
    </div>

    <div class="row g-4">
        {% for post in posts %}
        <div class="col-lg-4 col-md-6">
            <div class="card h-100 shadow border-0 rounded-4 overflow-hidden">

                <!-- RASM -->
                <div style="height: 220px; overflow: hidden;">
                    {% if image %}
                        {% for img in image %}
                        <img src="{{ img.image.url }}"
                             class="w-100 h-100 object-fit-cover"
                             alt="Photo">
                        {% endfor %}
                    {% else %}
                        <img src="{% static 'default_image.jpg' %}"
                             class="w-100 h-100 object-fit-cover"
                             alt="Default image">
                    {% endif %}
                </div>

                <!-- BODY -->
                <div class="card-body">
                    <h5 class="fw-bold mb-2">{{ post.title }}</h5>

                        📍 {{ post.location }}

                    <!-- DESCRIPTION (10 ta so‘z) -->
                    <p class="card-text text-secondary">
                        {{ post.description|truncatewords:10 }}
                    </p>

                    <!-- PRICE -->
                    <h5 class="text-success fw-bold">
                        💰 {{ post.price }} so‘m
                    </h5>
                </div>

                <!-- FOOTER -->
                <div class="card-footer bg-white border-0 pt-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            👤 <b>{{ post.name }}</b><br>
                            📞 {{ post.seller_contact }}
                        </div>
                        <small class="text-muted text-end">
                            🕒 {{ post.created_at|date:"d M Y H:i" }}
                        </small>
                    </div>
                </div>

            </div>
        </div>
        {% empty %}
        <p class="text-center text-muted">Hali e'lonlar mavjud emas.</p>
        {% endfor %}
    </div>
</div>


<!-- FOOTER -->
<div class="footer mt-auto py-3">
    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <small>© 2025 UzHome</small>
    </footer>
</div>

</body>
</html>
